
html {
  position: relative;
  min-height: 100%;
}

header {
  background-color: #191f21;
  height: 6vh;
  color: #f8f8f8;
  margin-bottom: 0.5vh;
}

header .row {
  height: 6vh;
}

header h1.header-text {
  font-weight: 300;
  font-size: 1.7rem;
}

body {
  margin-bottom: 2em;
}

img.kofrlab-logo {
  height: 5vh;
}

#content-frame {
  border: 0;
  width: 80%;
  height: 90vh;
  overflow:visible;
}
