#nephron-img {
  height: 100vh;
}

h2 {
  margin: 5vh;
}

a:link    { color: #405771 }  /* unvisited links */
a:visited { color: #405771 }  /* visited links   */
a:hover   { color: #2383f1 }  /* user hovers     */
a:active  { color: #2383f1 }  /* active links    */
